<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Register</div>

          <div class="card-body">
            <div class="form-group row">
              <label for="name" class="col-md-4 col-form-label text-md-right"
                >Name</label
              >

              <div class="col-md-6">
                <input
                  v-model="name"
                  id="name"
                  type="text"
                  class="form-control"
                  name="name"
                  required
                  autocomplete="name"
                  autofocus
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right"
                >E-Mail Address</label
              >

              <div class="col-md-6">
                <input
                  v-model="email"
                  id="email"
                  type="email"
                  class="form-control"
                  name="email"
                  required
                  autocomplete="email"
                />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="password"
                class="col-md-4 col-form-label text-md-right"
                >Password</label
              >

              <div class="col-md-6">
                <input
                  v-model="password"
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  required
                  autocomplete="new-password"
                />
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-6 offset-md-4">
                <button @click="register" class="btn btn-primary">
                  Register
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      name: "",
    };
  },
  methods: {
    async register() {
      try {
        const response = await axios.post("/api/register", {
          email: this.email,
          password: this.password,
          name: this.name,
        });

        localStorage.setItem("token", response.data.token);

        await this.$root.getCurrentUser();
        this.$router.push("/chat");
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>